$padding-large: 64px;
$padding-small: 32px;
$padding-x-small: 16px;

// Brand colours
$brand-color: #00f;
$background-color: #f00;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #1ABC9C;
$header-desc-text-color: #FFF;
$header-desc-link-color: #02453D;